<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box rounded">
        <a href="{{ path('app_category', {'id': category.id, 'slug': category.slug}) }}">
            <div class="text-center">
                <h6 class="m-0">
                    {{ category.name }}
                </h6>
            </div>
        </a>
    </div>
</div>
